# Make sure to have the proper system dependencies: I used a Mac. 
#   macOS: brew install rtl-sdr
#   macOS: brew install portaudio

# Core Signal Processing & Math
numpy>=2.0.0
scipy>=1.16.0
matplotlib>=3.10.0

# SDR Hardware Interface
pyrtlsdr>=0.3.0

# FM Radio Audio
pyaudio>=0.2.14

# ADS-B Decoding
pyModeS>=2.19.0

# Satellite Tracking & Doppler
pyephem>=4.1.5

# Utilities
setuptools>=69.0.0